<div class="container">
    <div class="row">
        <div class="d-flex justify-content-between w-100">
            <h2 class="main-title">Detail</h2>
            <div>
                <button class="btn btn-danger" style="padding: 10px 8px;" [routerLink]="['/user/index']">
                    <i data-feather="corner-down-left" aria-hidden="true" style="width: 16px; height: 16px;"></i>
                    Back to list
                </button>
            </div>
        </div>
        <div class="col-lg-12 mb-4 mb-sm-5">
            <div class="stat-cards-item">
                <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                    <div class="row align-items-center" *ngIf="UserDetail">
                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <img src="../../../assets/img/user/{{UserDetail.image}}" alt="..."
                                style="height: fit-content;">
                        </div>
                        <div class="col-lg-8 px-xl-10">
                            <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                <h3 class="h2 text-white mb-0">{{UserDetail.fullName}}</h3>
                                <span class="text-primary">{{UserDetail.roleName}}</span>
                            </div>
                            <ul class="list-unstyled mb-1-9">
                                <li class="mb-2 mb-xl-3 display-28"><span
                                        class="display-26 text-secondary me-2 font-weight-600">Position:</span>
                                    {{UserDetail.roleName}}</li>
                                <li class="mb-2 mb-xl-3 display-28"><span
                                        class="display-26 text-secondary me-2 font-weight-600">Email:</span>
                                    {{UserDetail.email}}</li>
                                <li class="mb-2 mb-xl-3 display-28"><span
                                        class="display-26 text-secondary me-2 font-weight-600">Address:</span>
                                    {{UserDetail.address}}</li>
                                <li class="display-28"><span
                                        class="display-26 text-secondary me-2 font-weight-600">Phone:</span>
                                    {{UserDetail.phone}}</li>
                                <li class="display-28">
                                    <button class="btn btn-primary mt-2" style="padding: 10px 16px;"
                                        [routerLink]="['/user/edit', UserDetail.userId]">Edit User</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>