<div class="container">
    <h2 class="main-title">List Product</h2>
    <div class="start-cards">
        <article class="stat-cards-item">
            <div class="d-flex justify-content-between w-100">
                <div class="search-box d-flex">
                    <div class="search-wrapper">
                        <i data-feather="search" aria-hidden="true"></i>
                        <input type="text" (keyup.enter)="search()" [(ngModel)]="textSearch"
                            placeholder="Enter keywords ..." required>
                    </div>

                    <button mat-button [matMenuTriggerFor]="menu"
                        style="background-color: #0D6EFD; color: #fff; margin-left: 12px; padding: 8px 8px; margin-right: 4px;">
                        <i data-feather="filter" aria-hidden="true" style="width: 16px; height: 16px;"></i>
                        Filter
                    </button>
                    <mat-menu #menu="matMenu">
                        <div class="combo-section" style="padding: 8px !important;">
                            <p>Brand: </p>
                            <igx-simple-combo [data]="brandCombobox" [displayKey]="'brandName'"
                                [valueKey]="'brandId'" [(ngModel)]="BrandId"></igx-simple-combo>
                        </div>
                        <div class="combo-section" style="padding: 8px !important;">
                            <p>Category: </p>
                            <igx-simple-combo [data]="categoryCombobox" [displayKey]="'cateName'"
                                [valueKey]="'cateId'" [(ngModel)]="CateId"></igx-simple-combo>
                        </div>
                        <div class="combo-section" style="padding: 8px !important;">
                            <p>Status: </p>
                            <igx-simple-combo [data]="statusProductCombobox" [displayKey]="'statusName'"
                                [valueKey]="'checkStock'" [(ngModel)]="CheckStock"></igx-simple-combo>
                        </div>
                        <div class="combo-section" style="padding: 8px !important;">
                            <button class="btn btn-primary" style="padding: 8px 8px;" (click)="search()">
                                Search
                            </button>
                        </div>
                    </mat-menu>
                </div>

                <button class="btn btn-primary" style="padding: 10px 8px;" [routerLink]="['/product/add']"
                    [ngClass]="{'disabled-link': !isAdmin()}" *ngIf="isAdmin()">
                    <i data-feather="plus-circle" aria-hidden="true" style="width: 16px; height: 16px;"></i>
                    Add New Product
                </button>
            </div>
            <table class="table table-bordered mt-4">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Created Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prod of listProduct;">
                        <td>{{prod.productId}}</td>
                        <td><img src="../../../assets/img/product/{{prod.image}}" alt=""
                                style="width: 50px; height: 50px;"></td>
                        <td><a [routerLink]="['/product/detail', prod.productId]">{{prod.productName}}</a></td>
                        <!-- <td>{{prod.price | currency:'VND':'symbol':'1.0-0'}}</td> -->
                        <td>{{formatVND(prod.price)}}</td>
                        <td>{{ prod.quantity }}</td>
                        <td>{{ prod.createdDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                        <td>
                            <button class="btn btn-success" style="padding: 8px 8px; margin-right: 4px;"
                                [routerLink]="['/serial-number/index', prod.productId]">
                                <i data-feather="map-pin" aria-hidden="true"
                                    style="width: 16px; height: 16px; color: #fff;"></i>
                            </button>
                            <button class="btn btn-primary" style="padding: 8px 8px; margin-right: 4px;"
                                [routerLink]="['/product-feature/index', prod.productId]">
                                <i data-feather="info" aria-hidden="true"
                                    style="width: 16px; height: 16px; color: #fff;"></i>
                            </button>
                            <button class="btn btn-warning" style="padding: 8px 8px; margin-right: 4px;"
                                [routerLink]="['/product/edit', prod.productId]">
                                <i data-feather="edit" aria-hidden="true"
                                    style="width: 16px; height: 16px; color: #fff;"></i>
                            </button>
                            <button class="btn btn-danger" style="padding: 8px 8px;"
                                (click)="deleteProduct(prod.productId)" [ngClass]="{'disabled-link': !isAdmin()}" *ngIf="isAdmin()">
                                <i data-feather="trash-2" aria-hidden="true"
                                    style="width: 16px; height: 16px; color: #fff"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between w-100">
                <div class="d-flex" style="align-items: center;">
                    <p style="margin-right: 2px;">Show</p>
                    <select (change)="onChangePageSize($event)">
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                    <p style="margin-left: 2px;">entries of {{totalItem}} total item</p>
                </div>
                <app-pagination [currentPage]="currentPage" [pageSize]="pageSize" [totalItem]="totalItem"
                    (changePage)="changePage($event)"></app-pagination>
            </div>
        </article>
    </div>
</div>