<div class="container">
    <div class="d-flex justify-content-between w-100">
        <h2 class="main-title">Add New Receipt</h2>
        <div>
            <button type="submit" class="btn btn-warning" style="padding: 10px 8px; margin-right: 8px;"
                (click)="onSubmit()">
                <i data-feather="save" aria-hidden="true" style="width: 16px; height: 16px; color: #fff;"></i>
                <span style="color: #fff;">Save</span>
            </button>
            <button class="btn btn-danger" style="padding: 10px 8px;" [routerLink]="['/receipts/index']">
                <i data-feather="corner-down-left" aria-hidden="true" style="width: 16px; height: 16px;"></i>
                Back to list
            </button>
        </div>
    </div>
    <div class="start-cards">
        <article class="stat-cards-item">
            <form action="" [formGroup]="addReceipt" class="w-100">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="combo-section">
                            <label for="" class="mb-2 font-weight-bold">Supplier: </label>
                            <igx-simple-combo [data]="ListSupplierCombobox" [displayKey]="'fullName'"
                                [valueKey]="'userId'" formControlName="SourceLocation"></igx-simple-combo>
                        </div>
                        <div *ngIf="submited && f.SourceLocation.errors">
                            <small *ngIf="f.SourceLocation.errors['required']" style="color: red;">Please select
                                Supplier</small>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="combo-section">
                            <label for="" class="mb-2 font-weight-bold">WareHouse: </label>
                            <igx-simple-combo [data]="ListWHCombobox" [displayKey]="'name'"
                                [valueKey]="'wareHouseId'" formControlName="WareHouseId"></igx-simple-combo>
                        </div>
                        <div *ngIf="submited && f.WareHouseId.errors">
                            <small *ngIf="f.WareHouseId.errors['required']" style="color: red;">Please select
                                Warehouse</small>
                        </div>
                    </div>
                </div>
            </form>
            <h2 class="main-title" style="margin-top: 12px;">List Product: </h2>
            <table class="table table-bordered">
                <thead class="text text-primary">
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Serial Number</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of ListInventoryLine; let i = index;">
                        <td>
                            <igx-simple-combo [data]="ListProductCombobox" [displayKey]="'productName'"
                                [valueKey]="'productId'" [(ngModel)]="row.ProductId"></igx-simple-combo>
                            <!-- <div *ngIf="submited && f.ProductId.errors">
                                <small *ngIf="f.ProductId.errors['required']" style="color: red;">Please select
                                    Feature</small>
                            </div> -->
                        </td>
                        <td>
                            <input class="form-control" type="number" [(ngModel)]="row.Quantity" min="0"/>
                            <!-- <div *ngIf="submited && f.Quantity.errors">
                                <small *ngIf="f.Quantity.errors['required']" style="color: red;">Quantity cannot be empty</small>
                            </div> -->
                        </td>
                        <td>
                            <input class="form-control" type="number" [(ngModel)]="row.Price" min="0"/>
                            <!-- <div *ngIf="submited && f.Quantity.errors">
                                <small *ngIf="f.Quantity.errors['required']" style="color: red;">Quantity cannot be empty</small>
                            </div> -->
                        </td>
                        <td>
                            <button class="btn btn-primary" style="padding: 10px 8px;" (click)="OpenModal(row)">
                                Show
                            </button>
                            <!-- <div *ngIf="submited && f.Value.errors">
                                <small *ngIf="f.Value.errors['required']" style="color: red;">Value cannot be empty</small>
                            </div> -->
                        </td>
                        <td>
                            <button class="btn btn-danger" style="padding: 8px 8px;"
                                (click)="deleteRow(i)">Remove</button>
                        </td>
                        <!-- <td *ngIf="row.submited && (!row.FeatureId || !row.Value)">
                            <div style="color: red;">Please fill in all fields in this row</div>
                        </td> -->
                    </tr>
                    <tr>
                        <td colspan="4">
                            <button class="btn btn-primary" style="padding: 8px 8px; margin-right: 4px;"
                                (click)="addRow()">Add row</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">List Serial Number</h4>
                        <button type="button" class="btn-close" (click)="CloseModal()"></button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr *ngFor="let seri of ListSerial; let i = index;">
                                    <td>{{i + 1}}</td>
                                    <td>
                                        <input class="form-control" type="text" [(ngModel)]="seri.SerialNumber"/>
                                        <!-- <div *ngIf="submited && f.Quantity.errors">
                                            <small *ngIf="f.Quantity.errors['required']" style="color: red;">Quantity cannot be empty</small>
                                        </div> -->
                                    </td>
                                    <!-- <td>
                                        <button class="btn btn-danger" style="padding: 8px 8px;"
                                            (click)="deleteRow(i)">Remove</button>
                                    </td> -->
                                </tr>
                                <!-- <tr>
                                    <td colspan="4">
                                        <button class="btn btn-primary" style="padding: 8px 8px; margin-right: 4px;"
                                            (click)="addRow()">Add row</button>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="CloseModal()"
                            style="padding: 8px 8px; margin-right: 4px;">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>