.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.background-login {
    background-image: url(../../assets/img/bg-01.jpg);
    background-size: 100% auto;
}

.input-login {
    position: relative;
}

.icon-login {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 30%;
    right: 12px;
}