<section class="vh-100 background-login">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-md-4" >
                <div class="login-logo text-center">
                    <img src="../../assets/img/user2-160x160.jpg" class="rounded-circle" width="80"/>
                    <p style="color: #fff; margin-bottom: 30px; font-size: 24px; margin-top: 4px;"><b>Administrator</b></p>
                </div>
                <div class="card" style="border-radius: 1rem;">
                    <div class="card-body login-card-body rounded">
                        <h5 class="text-danger text-center" style="margin: 20px;">
                            Sign into your account
                        </h5>
                        <form [formGroup]="loginForm" (keyup.enter)="onSubmit()">

                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" for="form2Example17" style="font-weight: bold;">UserName</label>
                                <div class="input-login">
                                    <input type="text" class="form-control form-control-lg"
                                    placeholder="Enter your username..." formControlName="UserName" />
                                    <i data-feather="lock" aria-hidden="true" class="icon-login"></i>
                                </div>

                                <div *ngIf="submited && f.UserName.errors">
                                    <small *ngIf="f.UserName.errors['required']" style="color: red;">UserName
                                        cannot be empty</small>
                                </div>
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" for="form2Example27" style="font-weight: bold;">Password</label>
                                <div class="input-login">
                                    <input type="password" class="form-control form-control-lg"
                                    placeholder="Enter your password..." formControlName="Password" />
                                    <!-- <i data-feather="key" aria-hidden="true" class="icon-login"></i> -->
                                </div>

                                <div *ngIf="submited && f.Password.errors">
                                    <small *ngIf="f.Password.errors['required']" style="color: red;">Password
                                        cannot be empty</small>
                                </div>
                            </div>

                            <div class="pt-1 mb-4">
                                <button class="btn btn-dark btn-lg btn-block w-100" type="button"
                                    (click)="onSubmit()">Login</button>
                            </div>

                        </form>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>