<div class="container">
    <h2 class="main-title">List Receipts</h2>
    <div class="start-cards">
        <article class="stat-cards-item">
            <div class="d-flex justify-content-between w-100">
                <div class="search-wrapper">
                    <i data-feather="search" aria-hidden="true"></i>
                    <input type="text" (keyup.enter)="search()" [(ngModel)]="textSearch"
                        placeholder="Enter Customer Name ..." required>
                    <select (change)="filterByStatus($event)" class="filter-selection">
                        <option value="0">All</option>
                        <option value="1">Ready</option>
                        <option value="2">Complete</option>
                        <option value="3">Cancel</option>
                    </select>
                </div>
                <button class="btn btn-primary" style="padding: 10px 8px;" [routerLink]="['/receipts/add']">
                    <i data-feather="plus-circle" aria-hidden="true" style="width: 16px; height: 16px;"></i>
                    Add New Receipt
                </button>
            </div>
            <table class="table table-bordered mt-4">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Created Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listReceipts;">
                        <td>{{item.inventoryId}}</td>
                        <td>{{ item.customerName }}</td>
                        <td>{{item.wareHouseName}}</td>
                        <td>{{ item.createdDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                        <td>
                            <span *ngIf="item.status == 1" style="color: rgb(15, 3, 255);">Ready</span>
                            <span *ngIf="item.status == 2" style="color: rgb(4, 227, 4);">Complete</span>
                            <span *ngIf="item.status == 3" style="color: red;">Cancel</span>
                        </td>
                        <td>
                            <button class="btn btn-success" style="padding: 8px 8px; margin-right: 4px;"
                                *ngIf="item.status == 1" (click)="completeReceipt(item.inventoryId)">
                                <i data-feather="check-circle" aria-hidden="true"
                                    style="width: 16px; height: 16px; color: #fff;"></i>
                            </button>
                            <button class="btn btn-primary" style="padding: 8px 8px; margin-right: 4px;"
                                *ngIf="item.status == 1" (click)="cancelReceipt(item.inventoryId)">
                                <i data-feather="x-circle" aria-hidden="true"
                                    style="width: 16px; height: 16px; color: #fff;"></i>
                            </button>
                            <button class="btn btn-warning" style="padding: 8px 8px; margin-right: 4px;"
                                *ngIf="item.status == 1" [routerLink]="['/receipts/edit', item.inventoryId]">
                                <i data-feather="edit" aria-hidden="true"
                                    style="width: 16px; height: 16px; color: #fff;"></i>
                            </button>
                            <button class="btn btn-primary" style="padding: 8px 8px; margin-right: 4px;"
                                [routerLink]="['/inventory/detail', item.inventoryId]">
                                <i data-feather="info" aria-hidden="true"
                                    style="width: 16px; height: 16px; color: #fff;"></i>
                            </button>
                            <button class="btn btn-danger" style="padding: 8px 8px;" *ngIf="item.status != 2"
                                (click)="deleteReceipt(item.inventoryId)">
                                <i data-feather="trash-2" aria-hidden="true"
                                    style="width: 16px; height: 16px; color: #fff"></i>
                            </button>
                            <button class="btn btn-warning" style="padding: 8px 8px;" *ngIf="item.status == 2"
                                (click)="exportPDFInventory(item.inventoryId)">
                                <i data-feather="file" aria-hidden="true"
                                    style="width: 16px; height: 16px; color: #fff"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between w-100">
                <div class="d-flex" style="align-items: center;">
                    <p style="margin-right: 2px;">Show</p>
                    <select (change)="onChangePageSize($event)">
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                    <p style="margin-left: 2px;">entries of {{totalItem}} total item</p>
                </div>
                <app-pagination [currentPage]="currentPage" [pageSize]="pageSize" [totalItem]="totalItem"
                    (changePage)="changePage($event)"></app-pagination>
            </div>

            <!-- Modal Update Location -->
            <div class="modal" id="editModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Update Location</h4>
                            <button type="button" class="btn-close" (click)="CloseModalEdit()"></button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body" *ngFor="let row of ListInventoryLine; let i = index;">
                            <h5 class="modal-title mb-2">{{row.ProductName}} - Quantity: {{row.Quantity}}</h5>
                            <table class="table table-bordered">
                                <thead class="text text-primary">
                                    <tr>
                                        <th style="width: 30px;">SerialId</th>
                                        <th>Serial Number</th>
                                        <th>Location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let seri of row.ListSerialNumber; let i = index;">
                                        <td style="width: 30px;">
                                            <input type="text" class="w-100" [(ngModel)]="seri.SerialId" disabled>
                                            <input type="text" class="w-100" [(ngModel)]="seri.WareHouseId" hidden="true">
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="seri.SerialNumber" disabled>
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" [(ngModel)]="seri.Location"/>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <!-- <button type="button" class="btn btn-danger" (click)="CloseModalEdit()"
                                style="padding: 8px 8px; margin-right: 4px;">Close</button> -->
                            <button type="submit" class="btn btn-primary" style="padding: 8px 8px;"
                                (click)="editLocation()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>